<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>


<!--nav bar page choices-->
<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

<!--  &lt;!&ndash; TODO #1 - Use a loop to display job results in a table. &ndash;&gt; COMPLETED-->

<!-- From fragments - Creates tables for list results -->
  <div th:replace="~{fragments :: tableListings}"></div>

</div>

</body>
</html>